[Unit]
Description=Simple App Deployer
After=network.target

[Service]
WorkingDirectory=/full/path/to/project
ExecStart=/bin/bash /full/path/to/project/service.sh

[Install]
WantedBy=multi-user.target